<div class="step-content">
    <div class="form-section">
        <h3>{{ 'booking.yourInformation.title' | translate : {default: 'Your Information'} }}</h3>
        <div class="form-grid">
            <label>
                {{ 'booking.yourInformation.firstName' | translate : {default: 'First name'} }}
                <input
                        [ngModel]="customer.firstName"
                        (ngModelChange)="onField('firstName', $event)"
                        placeholder="{{ 'booking.yourInformation.firstNamePlaceholder' | translate : {default: 'First name'} }}"
                        class="text-input"
                        required/>
            </label>

            <label>
                {{ 'booking.yourInformation.lastName' | translate : {default: 'Last name'} }}
                <input
                        [ngModel]="customer.lastName"
                        (ngModelChange)="onField('lastName', $event)"
                        placeholder="{{ 'booking.yourInformation.lastNamePlaceholder' | translate : {default: 'Last name'} }}"
                        class="text-input"
                        required/>
            </label>

            <label>
                {{ 'booking.yourInformation.email' | translate : {default: 'Email'} }}
                <input
                        type="email"
                        [ngModel]="customer.email"
                        (ngModelChange)="onField('email', $event)"
                        placeholder="{{ 'booking.yourInformation.emailPlaceholder' | translate : {default: 'Email'} }}"
                        class="text-input"
                        required/>
            </label>

            <label>
                {{ 'booking.yourInformation.phone' | translate : {default: 'Phone'} }}
                <input
                        [ngModel]="customer.phone"
                        (ngModelChange)="onField('phone', $event)"
                        placeholder="{{ 'booking.yourInformation.phonePlaceholder' | translate : {default: 'Phone'} }}"
                        class="text-input"/>
            </label>
        </div>
    </div>
</div>
