<!-- calendar-only.component.html -->
<div id="app-root" class="calendar-only-page">
    @if (step() === 'calendar') {
        <app-calendar
                [lang]="lang()"
                [gameId]="gameId()"
                [gameData]="game()"
                [maxConcurrentBookings]="maxConcurrentBookings()"
                (slotSelected)="onSlotSelected($event)"
                (gamePickRequested)="onGamePickRequested($event)"
                (clearGameRequested)="clearGameFromParent()"
        ></app-calendar>

    } @else if (step() === 'game') {
        <app-game-selection
                [games]="games()"
                [selectedRooms]="store.selectedRooms()"
                [selected]="store.selectedGames()"
                [canContinue]="store.allRoomsHaveGames()"
                (selectGame)="onInlineSelectGame($event)"
                (back)="backToCalendar()"
                (continue)="goToPlayersAfterGame()">
        </app-game-selection>
    } @else if (step() === 'players') {
        <!-- INLINE PLAYERS -->
        <app-players [inline]="true"
                     (back)="backToGames()">
        </app-players>
    } @else {
        <app-summary-bar
                [date]="store.selectedDate() || null"
                [time]="store.selectedTime()"
                [rooms]="store.selectedRooms()"
                [gamesText]="getGamesText()"
                [totalPlayers]="getTotalPlayers()"
        />

        <app-payment-step
                [date]="formatDate(store.selectedDate())"
                [time]="store.selectedTime()"
                [rooms]="store.selectedRooms()"
                [roomSummaries]="getRoomSummaries()"
                [totalPlayers]="getTotalPlayers()"
                [net]="store.netPortion()"
                [vat]="store.vatPortion()"
                [total]="store.totalInclVat()"
                [taxPercent]="store.taxPercentage()"
                currency="MKD"
                [paymentMethod]="store.paymentMethod()"
                (paymentMethodChange)="store.setPaymentMethod($event)"
                [submitting]="submitting()"
                (back)="backToPlayers()"
                (submit)="submitBookingFromInline()"
        />
    }
</div>
