:host {
  display: block;
}

.price-summary {
  color: #eee;
  font-family: inherit;

  .line {
    display: flex;
    justify-content: space-between;
    padding: .35rem 0;

    .label {
      color: #bbb;
    }

    .value {
      color: #fff;
      font-weight: 600;
    }
  }

  .line.total {
    font-size: 1.1rem;
    font-weight: 800;
    color: #fff;

    .label {
      color: #fff;
    }

    .value {
      color: #fff;
    }
  }

  .line.small {
    font-size: .95rem;
  }
}
